@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@500&display=swap');

body{
    background-color: #21262b;
    color: white;
    margin: 10px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

h1 {
    font-family: 'Teko', sans-serif;
    color: #eb1022;
    font-size: 50px;
}

a {
    color: #eb1022;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #6a7277;
    border-radius: 5px;
    background-color: #384047;
  }

.form-group {
    margin: 20px;
    padding: 20px;
}
  
  img.icon{
    border-radius: 50%;
  }
  /*
  input {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0069d9;
  }

  input {
    background-color: #21262b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin: 10px 0px;
  }

  i {              
    top: 0%;                         
    transform: translate(0, 25%)
  }