@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@500&display=swap');

body{
    background-color: #21262b;
    color: white;
    margin: 10px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

h1 {
    font-family: 'Teko', sans-serif;
    color: #eb1022;
    font-size: 50px;
}

a {
    color: #eb1022;
    text-align: center;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #6a7277;
    border-radius: 5px;
    background-color: #384047;
  }

button {
  display: block;
  margin-left: 20px;
}

.form-group {
    margin: 20px 40px 40px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 13px solid white;
  border-top-color: #21262b;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}
  
  img.icon{
    border-radius: 50%;
  }
  /*
  input {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0069d9;
  }

  input {
    background-color: #21262b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin: 10px 0px;
  }

  i {              
    top: 0%;                         
    transform: translate(0, 25%)
  }
  .inline{
        max-width:400px;
        margin:auto;
    }
  .input-icons i {
        position: relative;
    }
      
    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }
      
    .icon {
        padding: 10px;
        min-width: 40px;
    }
      
    .input-field {
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-bottom: 3px;
    }

 /* start of styling for chatroom.html page */

 .message-container {
  position: relative;
  margin: 20px;
  height: 65vh;
  border: 1px solid #6a7277;
  border-radius: 5px;
  background-color: #384047;
  /*display: flex;
  flex-direction: column;
  align-items: stretch;*/
 }

 .messages {
  position: absolute;
  margin: 10px;
  bottom: 0;
  overflow-y: scroll;
  /* flex: 1; */
  width: 97%;
 }

 .message-input {
  display: flex;
 } 

 #message {
  flex: 1;
 }
 /* end of styling for chatroom.html page */
