{% extends "base.html" %}

{% block content %}

<div class="message-container">
    <div class="messages" id="messages">
        <ul id="message-input"></ul>
        <div class="message-input">
            <input
            type="text"
            placeholder="message"
            id="message"
            />
            <button type="button" id="send-btn" onClick="sendMessage()">
                Send
            </button>
        </div>
    </div>   
</div>

<script>
    var socket = io();

    socket.connect();

    document.getElementById("message").addEventListener("keyup", function (event) {
        if (event.key == "Enter") {
            let message = document.getElementById("message").value;
            socket.emit("new_message", message);
            document.getElementById("message-input").value = "";
        }
    })

    socket.on("newtext", function(data) {
        let ul = document.getElementById("message-input");
        let li = document.createElement("li");
        li.appendChild(document.createTextNode(data["message"]));
        ul.appendChild(li);
    })
</script>

{% endblock %}