{% extends "base.html" %}

{% block content %}

        <div id="message-container" class="message-input">
            <ul id="message-input">
            </ul>
            <input
            type="text"
            placeholder="message"
            id="message"
            />
        </div>
            <button type="button" id="send-btn" onClick="sendMessage()">
                Send
            </button>
        

<script>
    var socket = io();

    socket.connect();

    /*document.getElementById("message").addEventListener("keyup", function (event) {
        if (event.key == "Enter") {
            let message = document.getElementById("message").value;
            socket.emit("new_message", message);
            document.getElementById("message-input").value = "";
        }
    })

    socket.on("newtext", function(data) {
        const message = document.getElementById("message-input");
        if (message.value = "") 
        return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    }) */

    const message = document.getElementById('message');
    const send_btn = document.getElementById('send-btn')

    send_btn.addEventListener('click', function(){
        socket.emit('chat', {
            message: message.value,
        })
    });

    socket.on('chat', function(data) {
        var ul = document.getElementById('message-input');
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(data["message"]));
        ul.appendChild(li);
    });
    
</script>

{% endblock %}