{% extends "base.html" %}

{% block content %}

<div class="message-container">
    <div class="messages">
        <div class="message-input">
            <input
            type="text"
            placeholder="message"
            id="message"
            />
            <button type="button" id="send-btn" onClick="sendMessage()">
                Send
            </button>
        </div>
    </div>   
</div>

<script>
    var socketio = io();

    function sendMessage() {
        console.log("send");
    }
</script>
{% endblock %}