{% extends 'base.html' %}
{% block content %}
<div class="page">
  <div class="form-container">
    
      <img class="icon" src="https://dreamlightvalleywiki.com/images/7/70/Remy.png" width = 150px>

      <h2>Sign In!</h2>

      <form class="inline" name="login" action="" method="post">

          <div class="form-group">
            <input id="csrf_token" name="csrf_token" type="hidden" value="InwiwfwiUUUIjjwjwullm">
            <span><label for="username"><i class="material-icons">person</i></label>
              <input type="text" id="username" name="username" required placeholder="Username"
                value="{{request.form.username }}">
            </span>
            <br/>
            <span><label for="password"><i class="material-icons">lock</i></label>
              <input type="password" id="password" name="password" required placeholder="Password"
                value=""> </span>
              <br/>
            <span>
              <input id="remember" name="remember" type="checkbox" value="y">
              <label for = "remember">Remember me?</label>
            </span>
            <br/>
            <input type="submit" id="signin-button" value="Sign In">
          </div>
          
      </form>

  <div class="signUpLink">
      <a href="/signup">Create an account!</a>
  </div>

  <div class="chatroomlink">
    <a href="/loading" target="_blank">I'm a Professional</a>
  </div>

</div>

<!-- <script>     
  var signinButton = document.getElementById("signin-button");    // Was gonna be functionality for the button to bring you another page
  signinButton.addEventListener('click', function() {
    window.location.href = "/loading";
  });
</script> -->
{% endblock %}
