{% extends "base.html" %}


{% block content %}

{% if username %}
    <h2> Welcome {{username}}!</h2>
    <h4> Click below to navigate to chat with a professional </h4>
    <a href="/room" target="_blank">Go to chatroom</a>
{% else %}
    <div class="form-container">
        <h2>Sign Up</h2>
        <img class="icon" src="https://dreamlightvalleywiki.com/images/7/70/Remy.png" width = 150px>
        <form name="signupForm" onsubmit="return validateEmail()" method="POST">
            {{form.hidden_tag()}}

            {{form.name.label}} <br>
            {{form.name(size = 30)}} <br>

            {{form.username.label}} <br>
            {{form.username(size = 30)}} <br>

            {{form.password.label}} <br>
            {{form.password(size = 30)}} <br>

            {{form.email.label}} <br>
            {{form.email(size = 30)}} <br>

            <p> Are you a professional? </p>
            <input type="radio" name="pro" id="rad1" value="Yes">
            <label for="rad1">Yes</label>

            <input type="radio" name="pro" id="rad2" value="No">
            <label for="rad2">No</label> <br>

            {{form.submit}}
        </form>

        <script>
            function validateEmail() {
            let x = document.forms["signupForm"]["email"].value;
            if (!(x.includes("@"))) {
                alert("Must fill out a valid email");
                return false;
                }
            }
        </script>
    </div>

{% endif %}

{% endblock %}