<!-- you can chat to a trainer on this page -->

{% extends "base.html" %} {% block content %}

<div class="hist-button">
  <input
    class="buttons"
    type="submit"
    value="History"
    name="history_button"
    onclick="location.href = '/history';"
  />
</div>

<div id="message-container" class="message-input">
  <ul id="message-input"></ul>
  <div class="input-area">
    <input type="text" placeholder="message" id="message" />
    <button type="button" id="send-btn" onClick="sendMessage()">Send</button>
  </div>
</div>

<script>
  var socket = io();

  const message = document.getElementById("message");
  const send_btn = document.getElementById("send-btn");
  var preferred_name = "You";

  //opens connection to socker.io server
  socket.connect();

  //listens for the connect event 
  socket.on("connect", function () {
    socket.emit("join_user", preferred_name);
  });

  socket.on("join_user", function (preferred_name) {
    var ul = document.getElementById("message-input");
    var li = document.createElement("li");
    li.appendChild(
      document.createTextNode("You have joined the room. You will be connected to a trainer shortly.")
    );
    ul.appendChild(li);
  });

  //sends a chat event to server containing user's preferred name and message when they click enter
  send_btn.addEventListener("click", function () {
    socket.emit("chat", {
      your_name: preferred_name,
      message: message.value,
    });
  });

  //sends a chat event to server containing user's preferred name and message when user click enter
  message.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      socket.emit("chat", {
        your_name: preferred_name,
        message: message.value,
      });
    }
  });

  //adds new list item with message to the UL and appends messages to chat, 
  //clears input field and scrolls to bottom of message list when chat event from server received
  socket.on("chat", function (data) {
    var ul = document.getElementById("message-input");
    var li = document.createElement("li");
    li.appendChild(
      document.createTextNode(data["your_name"] + ": " + data["message"])
    );
    ul.appendChild(li);
    message.value = "";
    ul.scrolltop = ul.scrollHeight;
  });
</script>

{% endblock %}
