{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        .history {
        height: 200px; /* Set the desired height for the scrollable container */
        overflow-y: auto; /* Enable vertical scrolling */
        }

    </style>
</head>

<h2>History</h2>

<!--<div class="log-out-button">
    <button type="submit" onclick="location.href = '/logout';" id="myButton">Log Out</button>
</div>-->

<h3>Chat History
</h3>
<div class="form-container">
<div class="history">
    <!--This history works but unfortunately we coudln't get chat to write to the database. To test history,
        populate the database with:
            flask shell
            u = User.query.get('your_username')
            t = Trainer.query.get('trainer1')
            m = Message(text="text goes here", trainer_name=t, user_name=u, from_trainer=True/False)
            db.session.add(m)
            db.session.commit()
        Then repeat the last 3 steps for as many messages as you want
    -->
{% for message in messages %}

    {% if message.from_trainer == False %}
        <article>
        <b>
            You (to {{ message.trainer_name.name}})
        </b>
        <br/>
            {{ message.text }}
        </article>

    {% else %}
        <article>
        <b>
            {{ message.trainer_name.name}} (to you)
        </b>
        <br/> 
            {{ message.text }}
        </article>
    {% endif %}

{% endfor %}
</div>
</div>
<h3>User Info  
    <input class = "buttons" type="submit" value="Edit user info" onclick="location.href = '/goalSetting';">
</h3>
<div class="form-container">
    <p>
        Name: {{ user.name }}
    </p>
    <p>
        Username: {{ user.username }}
    </p>
    <p>
        Goal: {% if user.fitness_goal == 0 %} Lose Weight
        {% elif user.fitness_goal == 1 %} Build Muscle
        {% elif user.fitness_goal == 2 %} Get in shape
        {% elif user.fitness_goal == 3 %} Other
        {% else %} Not Selected
        {% endif %}
    </p>
    <p>
        Height: {{ user.height }}cm
    </p>
    <p>
        Weight: {{ user.weight }}kg
    </p>
    <p>
        Gender: {% if user.gender == 0 %} Male
                {% elif user.gender == 1 %} Female
                {% elif user.gender == 2 %} Other
                {% else %} Not specified
                {% endif %}
    </p>
    <p>
        Initial rate of exercise: {% if user.current_excercise == 0 %} Multiple times per week
        {% elif user.current_excercise == 1 %} Roughly once per week
        {% elif user.current_excercise == 2 %} Infrequently
        {% elif user.current_excercise == 3 %} Never
        {% else %} Not Selected
        {% endif %}
    </p>
    <p>
        Rate willing to exercise: {{ user.willing_excercise }} times per week
    </p>
    <p>
        Allergies and diet information: {{ user.allergies }}
    </p>
    <p>
        Other Information: {{ user.other_comments }}
    </p>
</div>


{% endblock %}