{% extends 'base.html' %}
{% block content %}

<div class="page" id="page">
  <div class="form-container">
    
      <img class="icon" src="{{url_for('static', filename='gymrat.png')}}" width = 150px>

      <h2>Sign In!</h2>

      <form class="inline" name="login" action="" method="post" novalidate>
        <!--  {{ form.hidden_tag() }}
          <div class="form-group">
            <span>{{ form.username.label }}<i class="material-icons">person</i></label>
              {{ form.username(size=30) }}
            </span>
            <br/>
            <span>{{ form.password.label }}<i class="material-icons">lock</i></label>
              {{ form.password(size=30) }}  
            </span>
              <br/>
            <span>
              {{ form.remember() }} {{ form.remember.label }}
            </span>
            <br/>
            {{ form.submit() }}
          </div>
          -->
          <div class="form-group">
            <input id="csrf_token" name="csrf_token" type="hidden" value="username">
            <span><label for="username"><i class="material-icons">person</i></label>
              <input type="text" id="username" name="username" required placeholder="Username"
                value="{{request.form.username }}">
            </span>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <br/>
            <span><label for="password"><i class="material-icons">lock</i></label>
              <input type="password" id="password" name="password" required placeholder="Password"
                value=""> </span>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
              <br/>
            <span>
              <input id="remember" name="remember" type="checkbox">
              <label for = "remember">Remember me?</label>
            </span>
            <br/>
            {{ form.submit() }}
          </div>
          
          
      </form>

  <div class="signUpLink">
      <a href="/signup">Create an account!</a>
  </div>

  <div>
    <a href="/preferredname"> Redirect to chatroom </a>
  </div>

<script>

  /**
         * Add form elements to an array, once selecting submit
         *
        const form = document.querySelector('form');
        form.addEventListener('submit', onSubmit);

        // Function for submit
        function onSubmit(event) {
            console.log("onSubmit function triggered");
            event.preventDefault();                 // Prevent default when submit is pressed
            // Initialize answers array
            const form_answers = [];

            // Get the values of the form (with tags input or select)
            const inputs = form.querySelectorAll('input, select');
            
            // Loop through inputs, pushing to the answers array
            inputs.forEach(input => {
                if (input.name == "LogInButton") {
                    return;
                }
                form_answers.push(input.value);
            })
            // Print array to console
            console.log("Array of form_answers: ");
            console.log(form_answers.slice(1,3))
        }
        */
</script>

<!-- <script>     
  var signinButton = document.getElementById("signin-button");    // Was gonna be functionality for the button to bring you another page
  signinButton.addEventListener('click', function() {
    window.location.href = "/loading";
  });
</script> -->
{% endblock %}
