{% extends 'base.html' %}
{% block content %}
<div class="page">
  <div class="form-container">
    
      <img class="icon" src="https://dreamlightvalleywiki.com/images/7/70/Remy.png" width = 150px>

      <h2>Sign In!</h2>

      <form class="inline" name="login" action="" method="post">
          <div class="form-group">
              {{ form.hidden_tag() }}
              <label for="username"><i class="material-icons">person</i></label>
              {{ form.username(size=30) }}
              {% for error in form.username.errors %}
                <span class="loginerror">Error: invalid username</span>
              {% endfor %}
              <br/>
              <label for="password"><i class="material-icons">lock</i></label>
              {{ form.password(size=30) }}
              {% for error in form.password.errors %}
                <span class="loginerror">Error: invalid password</span>
              {% endfor %}
              <br/>
              {{ form.remember() }} 
              <label for = "remember">Remember me?</label>
              <br/>
              {{ form.submit() }}
          </div>
          
      </form>

  <div class="signUpLink">
      <a href="http://127.0.0.1:5000/signup">Create an account!</a>
  </div>

  <div class="chatrromlink">
    <a href="chatroom" target="_blank">Go to chatroom page</a>
  </div>

</div>
{% endblock %}
