<!-- page for trainer to enter one time code to be verified for the first time -->

{% extends "base.html" %} {% block content %}
<div class="form-container">
  <div id="landing">
    <input
      type="text"
      id="preferred_name"
      placeholder="Enter your verification code"
    />
    <button type="submit" id="join-btn">JOIN</button>
  </div>
</div>

<script>
  document.getElementById("join-btn").addEventListener("click", function () {
    window.location.href = "/chatroom";
  });

  document.getElementById("join-btn").addEventListener("click", function () {
    let preferred_name = document.getElementById("preferred_name").value;
    localStorage.setItem("name", "You");
    localStorage.setItem("join-button", join - btn);
  });
</script>

{% endblock %}
